.Header{
    position: fixed;
    width:100%;
    padding: 45px 0px;
    z-index: 100;
    transition: 1.5s cubic-bezier(0.2, 0.8, 0.2, 1)
}

.HeaderScrolled{
    background-image:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.6),rgba(0,0,0,0.3));
    padding: 20px 0px;
    backdrop-filter: blur(10px);

}


.HeaderGroup{
    display: grid;
    grid-template-columns: 1fr auto 25% 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    column-gap: 10px;
}


.HeaderGroup a:nth-child(1){
    grid-column: 2;
}

.HeaderGroup img{
    width:150px;
}

.HeaderGroup a{
    color:white;
    text-transform: uppercase;
    font-size:12px;
    text-decoration: none;
    font-weight: 100;  
    transition:1s cubic-bezier(0.075, 0.82, 0.165, 1); 
}

.HeaderGroup a:hover{
    color:#8340DC;
}

.HeaderGroup a:nth-child(2){
    grid-column: 4;
}

@media (max-width:640px){
    .HeaderGroup{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:60% 40%;
        align-content: center;
        grid-row-gap:20px;
        justify-content: center;

    }
    .HeaderGroup a:nth-child(1){
        grid-column:1/span 6;
        grid-row:1;
        justify-self: center;
    }
    .HeaderGroup a:nth-child(2){
        grid-column:1;
        grid-row:2;
        justify-self: center;
    }
   
  
}
